.footer_logo {
    background-color:white;
    text-align:center;
    padding: 20px;
}
.footer_column {
    overflow: hidden;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
        }
.footcol {
    width: 20%;
}
li {
    list-style-type: none;
    font-size: 14px;
    padding: 5px;
   }
.social_buttons {
    text-align: center;
    padding: 0px;
}
.footer_column_par {
    color: #82625E;
    font-size: 20px;
}
ul {
    padding: 20px;
}
.footer_a {
    text-decoration: none;
    color: black;
}
